/* SPDX-License-Identifier: Apache-2.0 */

#include <zephyr/dt-bindings/memory-attr/memory-attr-arm.h>

/* HyperRAM */
&gpiog {
	status = "okay";
};
&gpioh {
	status = "okay";
};
&gpioj {
	status = "okay";
};

/ {
	hyperram: hyperram@82000000 {
		compatible = "zephyr,memory-region", "mmio-sram";
		reg = <0x82000000 0x800000>;
		zephyr,memory-region = "HYPERRAM";
		zephyr,memory-attr = <DT_MEM_ARM(ATTR_MPU_RAM)>;
		status = "okay";
	};
};
